<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./css/style.css">
		<title>TesseChat</title>
	</head>
	<body>
		<% if (message) { %>
			<div class="error-message">
			  <%= message %>
			</div>
		  <% } %>
		<div class="join-container">
			<header class="join-header">
				<h1>TesseChat</h1>
			</header>
			<main class="join-main">
				<form method="post" action="/auth/login">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
                    <div class="form-control">
						<label for="password">Password</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="Enter password..."
							required
						/>
					</div>
					<button type="submit" class="btn">Login</button>
					<button	onclick="register()" class="btn">Register</button>
					<button onclick="loginWithGoolge()" class="btn">Login With Google</button>
				</form>
			</main>
		</div>
	</body>
	<script>
		function loginWithGoolge() {
			window.location.href = "/auth/google";
		}
		function register() {
			window.location.href = "/register";
		}
	</script>
</html>
