<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>TesseChat</title>
</head>
<body>
    <% if (message) { %>
        <div class="error-message">
          <%= message %>
        </div>
      <% } %>
    <header class="join-header">
        <h1 style="color:yellow">TesseChat</hƯ1>
    </header>
    <main class="join-main">
        <form id="register-form" method="post" action="/auth/register">
            <div class="form-control">
                <label for="fullname">Full Name:</label>
                    <input 
                    id="fullname" 
                    name="fullname"
                    type="text" 
                    placeholder="Enter full name" />
                <label for="username">Username</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Enter username..."
                    required
                />
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Enter password..."
                    required
                />
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
    </main>
</body>
</html>